body {
  background-color: rgba(239, 237, 224);
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;

}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(239, 237, 224);
  /* border: 1em solid #f00; */

}

.nav-menu .portfolio-name {
  font-size: 2em;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 12px;
  padding: 12px;
  font-size: 1em;

}

nav ul li a:hover {
  background-color: rgb(222, 188, 188);
}

.dropdown-toggle {
  display: none;
}


.portfolio-name {
  padding-left: 1em;
}

.container {
  /* background-color: rgb(178, 148, 148); */
  background-color: rgb(155 139 123);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2em solid #0f0; */

}

.container .content {
  display: flex;
  /* Nested flex container */
  flex-direction: row;
  /* Elements will be displayed horizontally */
  justify-content: space-between;
  align-items: center;
}



.container .text-info {
  margin-right: 3em;
}

.container img {
  max-width: 100%;
  height: 80vh;
  /* border: 1em solid #ff0; */
  margin-left: 12em;
}

.about-container img {
  max-width: 100%;
  height: 60vh;
}

.container h1 {
  margin-bottom: 5px;
}

.about-container h1 {
  margin-bottom: 5px;
  margin-left: 1em;
  margin-right: 2em;
}

.container p {
  /* border: 1em solid maroon; */
  margin-top: 5px;
  /* margin-right: 200px; */
  /* margin-bottom: 400px; */
}

.text-info button {
  padding: 20px;
  /* margin: 10px; */
  background-color: rgb(178, 148, 148);
  border: 1px solid white;
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
}

.text-info #contact-btn:hover {
  background-color: rgb(222, 188, 188);
}

.text-info h1,
p {
  color: rgb(0, 0, 0);
}

section {
  margin-left: 1em;
  margin-right: 1em;
}


#modal-form {
  width: 20%;
  height: 40vh;
  background-color: rgb(150, 145, 145);
  border-radius: 10px;
  /* z-index: 100; */
}

#modal-form input {
  width: 50%;
}

#modal-form textarea {
  width: 90%;
  height: 10vh;
}

#submit-btn:hover {
  background-color: rgb(77, 182, 66);
}

.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  margin-right: 2em;
  cursor: pointer;
}

.about-container p {
  margin-left: 2em;
}


@media screen and (max-width: 1027px) {
  .container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  nav ul li {
    font-size: 14px;
  }

  .nav-menu .portfolio-name {
    font-size: 30px;
  }

  .container .text-info {
    padding-left: 1em;
  }

  .container img {
    margin-right: 3em;
    margin-left: 2em;
  }

}

@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(239, 237, 224);
    position: absolute;
    top: 60px;
    /* Adjust this to the height of your nav-menu */
    right: 0;
    width: 200px;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu.show-menu nav ul {
    display: flex;
  }

}
